.hero-section {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000;
  -webkit-perspective: 1000;
}

.sphere {
  transform: translateZ(calc(var(--radius) * -1));
  will-change: transform;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}

.item__image {
  position: absolute;
  inset: 10px;
  border-radius: var(--tile-radius, 12px);
  overflow: hidden;
  cursor: pointer;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transition: transform 300ms;
  pointer-events: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}