/* Add this to your global CSS or App.css */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

/* Ensure body has proper padding for fixed header */
/* body {
  padding-top: 200px; 
} */